.pio
.vscode
.idea
CMakeLists.txt
CMakeListsPrivate.txt
**/.idea/workspace.xml
**/.idea/tasks.xml
.DS_Store
cmake-build-*/
*.s#?
*.b#?
PrivateConfig.h
*.gbr
*.drl
pcb/**/*.zip
platformio.sln
platformio.vcxproj*
Debug/
.vs/
.piolibdeps/
*.stl
*.factory
*.out
*.spt
*.FCStd1
backup/